<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ouzhouren.longai">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.ouzhouren.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/longai_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="name,icon,label,theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".module.member.activity.DetailActivity" />
        <activity android:name="com.ouzhouren.longai.module.news.activity.NewsDetails" />
        <activity android:name="com.ouzhouren.longai.module.news.activity.NewsComment" />
        <activity
            android:name="com.ouzhouren.longai.module.welcome.activity.WelcomeActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>
    </application>

</manifest>
